@font-face {
   font-family: 'PopArt-Regular';
   font-display: swap;
   src: url('file:///C:/Users/SAMSUNG/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-04-17_171933/fonts/PopArt-Regular/font.ttf');
}
