@font-face {
   font-family: 'Antipasto-Pro-ExtraLight-trial';
   font-display: swap;
   src: url('file:///C:/Users/SAMSUNG/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-04-17_171933/fonts/Antipasto-Pro-ExtraLight-trial/font.ttf');
}
